@import '../../gliobal.scss';

.protofolio {
    background-color: white;
    @include mobile {
        height: 100% !important;
        margin-bottom: 35px;
    }

    .section-title {
        text-align: center;
        font-size: 28px;
        color: $mainColor;
        margin: 0;
        padding-top: 10px;

        h2 {
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }

    .list {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin-top: 0;
        margin-bottom: 30px;

        @include mobile {
            flex-wrap: wrap;
            justify-content: center;

        }
    }

    .container {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
        gap: 3%;

        .item {
            width: 250px;
            height: 165px;
            margin-bottom: 3%;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            border-radius: 10px;
            transition: 0.5s;

            &:hover {
                background-color: $mainColor;
                opacity: 0.9;

                img {
                    opacity: .1;
                }
            }

            img {
                width: 100%;
                object-fit: cover;
                transition: 0.5s;
            }

            h3 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -100%);
                text-transform: capitalize;
                font-size: 22px;
                color: white;
                z-index: -1;
                font-size: 18px;
                width: 100%;
                text-align: center;
            }
        }
    }
}